%table
  - @observations.each do |observation|
    %tr
      %td= observation.station_name.to_s.humanize.titleize
      %td= observation.speed
      %td= observation.gust
      %td= observation.direction
