// Place all the styles related to the WeatherStation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$red-tail-primary: #681d2c;

.weather_table {
  font-family: Montserrat, Arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  margin-right: auto;
  margin-left: auto;

  td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
    background-color: $red-tail-primary;
  }

  th {
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    color: white;
  }

  td {
    text-align: center;
    color: $red-tail-primary;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  td {
    padding: 10px 25px 10px 25px;
  }

  td.subtle {
    color: #999999;
  }

  td.station {
    font-weight: bold;
    a {
      text-decoration: underline;
    }
  }

  td.good {
    color: green;
  }

  td.warning {
    color: red;
    font-weight: bold;
    .fa {
      color: orange;
    }
  }

  /* Cells in even rows (2,4,6...) are one color */
  tr:nth-child(even) td { background: lighten($red-tail-primary, 68%); }

  /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
  tr:nth-child(odd) td { background: #FEFEFE; }
}


